{
  //"presets": ["es2015", "stage-3"],
  "plugins": [
    [
      "react-logic-component",
      "transform-runtime",
      "transform-es2015-classes",
      "transform-react-jsx"
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true,
        "decoratorsBeforeExport": true
      }
    ]
  ]
}