*.iml
.idea
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
node_modules.tar
conflicts-debug.log
package-lock.json
.wepycache
.eslintcache
push.sh
jenkins.sh
gita.py
dist
node_modules
